<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FatBanHang</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/frontend/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Link icon-->
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>

<body style="background-color:aquamarine">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg" style="background-color: purple;">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" style="color: white;" asp-area="" asp-controller="Home" asp-action="Index">Sản phẩm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 ">
                    <li class="nav-item btn-outline-light"><a class="nav-link active" aria-current="page" href="#!" style="color: white;">Home</a></li>
                    <li class="nav-item btn-outline-light "><a class="nav-link" href="#!" style="color: white;">About</a></li>
                    <li class="nav-item">
                        <a class="nav-link text-dark btn-outline-light" asp-area="Admin" asp-controller="Category" asp-action="Index" style="color: white;">Manager</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
                <form class="d-flex">
                    <button class="btn btn-warning" asp-area="Customer" asp-controller="Cart" asp-action="Index" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="showcart  badge bg-primary text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <!-- Section-->
    <div class="container">
        @RenderBody()
    </div>
    
    <!-- Footer-->
    <footer class="py-5 text-bg-secondary">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Nguyễn Châu Tấn Phát Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/frontend/js/scripts.js"></script>
</body>

</html>
